
######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup

!*/build/*.java
!*/build/*.html
!*/build/*.xml
/out/production/Algorithm/com/liang/algorithm/BubbleSort.class
/out/production/Algorithm/com/liang/algorithm/InsertionSort.class
/out/production/Algorithm/com/liang/algorithm/SelectionSort.class
/out/production/Algorithm/com/liang/algorithm/ShellSort.class
/out/production/Algorithm/com/liang/lambda/Java8Lambda.class
/out/production/Algorithm/com/liang/leetcode/Interface/L83/ListNode.class
/out/production/Algorithm/com/liang/leetcode/Interface/L341/NestedInteger.class
/out/production/Algorithm/com/liang/leetcode/L1.class
/out/production/Algorithm/com/liang/leetcode/L5.class
/out/production/Algorithm/com/liang/leetcode/L7.class
/out/production/Algorithm/com/liang/leetcode/L36.class
/out/production/Algorithm/com/liang/leetcode/L42.class
/out/production/Algorithm/com/liang/leetcode/L58.class
/out/production/Algorithm/com/liang/leetcode/L83.class
/out/production/Algorithm/com/liang/leetcode/L123.class
/out/production/Algorithm/com/liang/leetcode/L128.class
/out/production/Algorithm/com/liang/leetcode/L134.class
/out/production/Algorithm/com/liang/leetcode/L169.class
/out/production/Algorithm/com/liang/leetcode/L191.class
/out/production/Algorithm/com/liang/leetcode/L205.class
/out/production/Algorithm/com/liang/leetcode/L216.class
/out/production/Algorithm/com/liang/leetcode/L275.class
/out/production/Algorithm/com/liang/leetcode/L326.class
/out/production/Algorithm/com/liang/leetcode/L365.class
/out/production/Algorithm/com/liang/leetcode/L396.class
/out/production/Algorithm/com/liang/leetcode/L412.class
/out/production/Algorithm/com/liang/leetcode/L442.class
/out/production/Algorithm/com/liang/leetcode/L494.class
/out/production/Algorithm/com/liang/leetcode/L495.class
/out/production/Algorithm/com/liang/leetcode/L659.class
/out/production/Algorithm/com/liang/leetcode/L692.class
/out/production/Algorithm/com/liang/leetcode/L714.class
/out/production/Algorithm/com/liang/leetcode/L739$Entry.class
/out/production/Algorithm/com/liang/leetcode/L739.class
/out/production/Algorithm/com/liang/leetcode/NestedIterator.class
/out/production/Algorithm/com/liang/other/LFU/LFUMain.class
/out/production/Algorithm/com/liang/other/LFU/LFUMap$HitRate.class
/out/production/Algorithm/com/liang/other/LFU/LFUMap.class
/out/production/Algorithm/com/liang/other/LRU/LRUCache.class
/out/production/Algorithm/com/liang/other/LRU/LRUMain.class
/out/production/Algorithm/com/liang/other/LRU/LRUNode.class
/out/production/Algorithm/com/liang/other/BloomFilter.class
/out/production/Algorithm/com/liang/other/Node.class
/out/production/Algorithm/com/liang/other/SkipList.class
/out/production/Algorithm/com/liang/Test/ConsistentHashingWithVirtualNode.class
/out/production/Algorithm/com/liang/Test/RSAUtils.class
/out/production/Algorithm/com/liang/Test/Solution.class
/out
